* {
	font-family: 'Jost', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	/* width: 100%;
	height: 100%; */
}

#banner {
	width: 1170px;
	display: flex;
	/* margin: 0 auto; */
	justify-content: center;
	align-items: center;
	gap: 20px;
	/* right: 550px; */

}

.header-section {
	align-items: center;
	/* height: 461px; */
	width: 1140px;
margin: 0 auto;
}
.banner-section{
	align-items: center;
	justify-content: center;


}


.nav_items {
	display: flex;
	top: 40px;
	padding: 20px 0;
	list-style: none;
	gap: 20px;
}

/* banner section start  */
.banner-container {
	/* width: 1140px; */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;


}

/* .banner-container div {
	flex: 1;
} */

.nav-tittle {
	font-weight: 600;
	font-size: 45px;
}

.color {
	color: rgb(231, 30, 30);
	text-align: center;
}

.flower {
	display: flex;
	
}
.fresh img {
	width: 100%;

}


.span-flower p {
	align-items: center;
	justify-content: space-between;
	/* padding: 30px; */
}

.color h3 {
	text-align: center;
}

.fresh-color h3 {
	background-color: brown;
}

.propetise {

	background-color: rgb(249, 249, 251);
	width: 1140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 300px;
}

/* cart */
.cart {
	margin-top: -20px;
	margin-left: 40px;
}

.cart a {
	text-decoration: none;
}

/* FLOWER  start*/

.flower1-text {
	width: 1140px;
	text-align: center;
	padding: 16px;
}

.flower1-text h2 {
	padding: 16px;
	color: rgb(205, 41, 41);
	font-size: 40px;
}

.flower1-text {
	color: rgba(88, 103, 103, 0.663);
	margin: 0 auto;
}

.flower1-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 1140px;
	align-items: center;
	justify-content: space-between;
	column-gap: 4px;
	background-position: center;
	background-size: cover;
	translate: (1s);
	margin: 0 auto;
}

.flower1 {
	width: 270px;
	padding: 10px;
	color: #818181;
}

.flower1 h3 {
	text-align: center;

}

.flower1 p {
	text-align: center;
	color: #000000;
}

.flower1-btn {
	text-align: center;
	width: 270px;
	height: 50px;
	background-color: rgb(233, 90, 8);
	color: #f6f6f6;
}

/* FLOWER  end*/

.our-plants {
	display: flex;
	grid-row: ari;
	grid-template-columns: repeat(3.1fr);
}

.our-plants,
.plants-color-p {
	width: 1140px;
	height: 137px;
	top: 0px;
	left: 0px;
	border-radius: 0px;
	color: rgb(175, 173, 173);
	padding: 0px, 0px, 0px, 0px;
	font-weight: bold;
	font-size: 14px;
	box-sizing: border-box;
}

.container {
	display: flex;
	width: 1170px;
	gap: 25px;
	margin-bottom: 50px;
	align-items: center;
	column-gap: 50px;
	justify-content: space-between;
	box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
	margin-bottom: 1rem;
}

.container-img {
	width: 270px;
	height: 999px;
	top: 0px;
	left: 0px;
}

.container-img-h4 {
	width: 132px;
	height: 16px;
	padding: 0px, 0px, 0px, 0px;
}

/* <!-- flower planet and lover --> */

.container-lover {
	width: 1140px;
	margin: 90px auto;

}

.div-lovers h2 {
	font-weight: bold;
	color: rgb(231, 30, 30);
}

.img-love {
	width: 540px;
	height: 597px;
	gap: 20px;
}

.container-planet {
	display: flex;
	gap: 2rem;
}

.l-right {
	position: relative;
}

.fl-aria {
	top: 50%;
	left: 50%;
	position: absolute;
	color: rgb(246, 244, 244);
	transform: translate(-50%, -50%);
}

.ul-aria {
	font-weight: 600;
	color: rgb(175, 173, 173);
}

.logo-icon {
	position: absolute;
	width: 286px !important;
	top: -127px;
	left: 347px;
}



.logo-icon-img {
	position: relative;
	background: #f6f6f6;
}

.logo-icon-p {
	width: 540px;
	height: 108px;
	margin-inline-end: 50px;
	padding: 20px;
	font-size: 15px;
}

.latest-deals {
	margin-bottom: 100px;
}

.latast-deals-content {
	text-align: center;
}

.latast-deals-content h3 {
	font-size: 3.1rem;
	margin-bottom: 16px;
}

.latast-deals-content span {
	color: #d93f0c;
}

.latast-deals-content p {
	margin-bottom: 120px;
}

.latest-deals-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 28px;
}

.left-deal {
	display: flex;
	flex-direction: column;
}

.left-deal-img img {
	border-radius: 14px;
}

.left-deal-card {
	position: relative;
}

.left-deal-card::before {
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 98%;
	content: '';
	background: #000000;
	opacity: 30%;
	border-radius: 14px;
}

.left-deal-card-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.left-deal-card-content h4 {
	text-align: center;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.left-deal-card-content a {
	color: white;
	font-weight: bold;
}

.left-deal-item {
	position: relative;
	margin: 20px 0px;
}

.left-deal-item::before {
	position: absolute;
	bottom: 4px;
	left: 0;
	content: '';
	height: 98%;
	width: 100%;
	background: #000;
	opacity: 30%;
	border-radius: 14px;
}

.left-deal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.left-deal-content h4 {
	color: white;
	font-size: 1.1rem;
	margin-bottom: 20px;
}

.left-deal-content a {
	color: white;
}

.right-deal {
	position: relative;
	padding-bottom: 20px;
}

.right-deal::before {
	position: absolute;
	bottom: 23px;
	left: 0;
	height: 95%;
	width: 100%;
	content: '';
	background: #000;
	opacity: 30%;
	border-radius: 30px;
}

.right-deal-img img {
	border-radius: 30px;
}

.right-deal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.right-deal-content h3 {
	color: white;
	font-size: 2.2rem;
}

.right-deal-content a {
	color: white;
	font-size: 1.7rem;
}

/*FOOTER START */

.footer-img {
	background-image: url(assets/news-letter-bg.png);
	align-items: center;
	width: 1140px;
	position: relative;
	height: 533px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.footer-img input {
	width: 530px;
	font-size: 20px;

}
.join-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.button {
	width: 186px;
	background: red;
	inset: 0;
	height: 35px;
}

.class {
	color: #f6f6f6;
	text-align: center;
}

.footer {

	background: var(--text-color);
	color: #f6f6f6;
	border-top: 2px solid var(--main-color);
	margin: 0 auto;
}

.footer-container.container {
	width: 1170px;
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	margin: 0 auto;
}

.footer-container .logo {
	color: var(--bg-color);
	margin-bottom: 1rem;
}

.footer-container .footer-box {
	display: flex;
	flex-direction: column;
}

.social {
	display: flex;
	align-items: center;
}

.social a {
	font-size: 24px;
	color: var(--bg-color);
	margin-right: 1rem;
}

.social a:hover {
	color: var(--main-color);
}

.footer-box h3 {
	font-size: 1.1rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.footer-box a,
.footer-box p {
	color: #818181;
	margin-bottom: 10px;
}

.footer-box a:hover {
	color: var(--main-color);
}

/* footer end */

@media screen and (max-width: 576px) {
.header-section{
	/* width: 420px; */
margin: 0 auto;
}
.propetise img{
width: 20px;
height: 20px;

}

	.propetise {
	background-color: rgb(249, 249, 251);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;



	}

	.nav_items li {
		display: none;
	}

	.nav_items {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-bottom: 0;
		justify-content: end;
	}

	.nav_items li:last-child {
		display: block;
	}

	.banner-container {

		flex-direction: column;

	}

	.container-lover {
		/* width: 1120px; */
		margin: 50px auto;
	}

	.container-planet {
		flex-direction: column;
	}
	.logo-icon {
		display: none;
	}

	.flower1-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 0 auto;
		padding: 5px;
		margin-top: 300px;
		/* width: 570px; */
width: 100%;

	}
.flower1 img{
	width: 100%;
}
	.flower1-text {
		width: 100%;
	}

	.header-section {
	
width: 100%;
	}

	.flower1 {
		width: 100%;
		padding: 0px;

	}

	.flower1-btn {
		width: 100%;

	}

	.flower1 img {
		width: 100%;

	}

	.flower1-container {
		margin-top: 30px;
		padding: 0px;
	}

	.container {
		/* width: 420px; */
		flex-direction: column;
		justify-content: flex-start;
		align-items: start;
		padding-left: 10px;
	}

	.latest-deals-layout {
		flex-direction: column;
	}

	.right-deal-img img {
width: 100%;
	}
	.footer-container {
		width: 100%;
	}
/* .right-deal{
	width: 100%;
} */
	input[type='email'] {
		padding: 1px;
		width: 100%;
	}

	.container {
		grid-template-rows: repeat(4.1fr);
	}

	.footer-img {
		flex-direction: column;
		margin: 20px;
	width: 100%;
	}

	.inpt-btn {
		display: flex;


	}
.footer{
	width: 100%;
}
}

